<div class="bp-progressbar-container">
    <div class="progress-bottom" style="height: {{height}}px;width:{{width}}px;"></div>
    <div class="progress-top" style="height: {{height}}px;width: {{curProgressWidth}}px;"></div>
</div>